<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.6" />
    <title>추억보관소</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="../static/css/upload.css" />
  </head>

  <body>
    <form
      action="http://{{ IP_ADDR }}:{{ PORT }}/process"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" id="file_upload" />
      <label for="file_upload"><i class="1file_upload" />&nbsp;파일 선택</label>

      <input type="submit" name="submit" id="file_render" />
      <label for="file_render"><i class="1file_render" />&nbsp;변환 시작</label>
      <br />

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for msg in messages %}
        <li><strong>Error: </strong>{{ msg }}</li>
        <!--flash-->
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </form>
  </body>
</html>
